body {
    background-color: rgb(0, 0, 0);
    font-family: impact, fantasy;
    background-color: rgb(124, 124, 124);
    background-image: url("chess.png");
    background-repeat:no-repeat;
    background-position-y: -20px;
    background-size: 100%;
    overflow-y: hidden;
    overflow-x: hidden; }
#klar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.5);
    z-index: 9999;}
#klarsvar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center; }
#spelmeny {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto;
    width: 600px;
    height: 705px;
    background-color: rgba(41, 41, 41,0.8);
    color: white;
    font-size: medium;
    margin: auto;
    padding: 5px;
    position: relative;
    box-shadow: 0px 0px  15px #000000;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    grid-column: 2/3;
    justify-content: center; 
    top: 50%;
    margin-top: -350.75px; }
#header {
    width: 600px;
    height: 50px;
    background-color: rgba(41, 41, 41);
    color: white;
    font-size: medium;
    margin: auto;
    position: absolute;
    box-shadow: 0px 0px  15px #000000;
    border-radius: 5px;
    letter-spacing: 2px;
    grid-row: 1/2;
    z-index: 9999999999999;
    left: 50%;
    margin-left: -300px;
    }
#mapp {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(68, 68, 68);
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -100px;
    grid-row: 2/11; }
#mapp:hover {
    transform: scale(1.5); }
#färgad {
    color:rgb(0, 203, 0); }
#ikon {
    position: relative;
    left: 93%;
    bottom: 25px;
    display: block; 
    z-index: 99999999999999;
}
#ikon:hover {
    position: absolute;
    left: 75%;
    bottom: 25px;
    cursor: pointer; }
.menytext {
    position: relative;
    font-size: 25px;
    text-align: center;
    bottom: 18px; }
#titel {
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 24px; }
#SpBild {
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 50%;
    margin-left: -25vw; 
    top: 50%;
    margin-top: -50vh;
}
.fråga {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgba(48, 48, 48, 0.7);
    padding-bottom: 30px; 
    left: 12%;
    margin-left: -150px;
    top: 50%;
}
label {
    position: relative;
    top: 15px;
    margin: 30px; }
input {
    position: relative;
    margin: 40px;
    bottom: 5px; }
.button1 {
    width: 100px;
    height: 50px;
    position: relative;
    bottom: 55px; }
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto; }
#wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
@media only screen and (max-width: 900px) {
    #wrapper {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    } }
#FelSvar {
    background-color: red;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    width: auto;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center; /* Center the inner text */ }
#smrad1, #smrad2, #smrad3 {
    background-color: rgb(55, 55, 55);
    position: absolute;
    height: 45px;
    width: 250px;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    justify-content: center;
    margin-left: -125px;
    left: 50%; }
#smrad1:hover, #smrad2:hover, #smrad3:hover {
    background-color: rgb(55, 55, 55);
    position: absolute;
    height: 45px;
    width: 250px;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    justify-content: center;
    cursor: pointer;
    margin-left: -125px;
    left: 50%; }
#smrad1 {
    grid-row: 7/11; }
#smrad2 {
    grid-row: 8/11; }
#smrad3 {
    grid-row: 9/11; }
